<script type="text/javascript">
//#TODO make this global ? (resize)
var fixHeight = function() {
  var mainHeight = $('body').height();
  var ToolbarHeight = $('md-toolbar.layout-row').height();
  $('.slimScrollDiv, .slimScrollDiv > div').css('height', (mainHeight - ToolbarHeight - 48));
};

// dark blue 5f7985
var setupScrollies = function() {
  $('.slimscroll').slimScroll({
    position: 'right',
    height: 'auto',
    railVisible: true,
    alwaysVisible: true,
    color: '#78909c',
    wheelStep: 7,
    zIndex: 5
  });
};

$(document).ready(function(){
  setTimeout(function() {
    $.when(setupScrollies()).then(fixHeight);
  },10);

});

$(window).on('resize', function(){
  setTimeout(function() {
    $.when(setupScrollies()).then(fixHeight);
  },10);

});
</script>

 <md-tabs md-dynamic-height md-no-pagination>
 <md-tab label="Main Settings">
  <md-tab-body>
    <div class="slimscroll" style="padding:20px;" ng-controller="settingsMainConfigController">
      <fieldset>
        <legend>Config Settings</legend>
          <div layout="row">
            <div flex>
              <md-button class="md-accent" style="width: 100%" ng-click="openConfig()">
              <i class="mdi mdi-arrow-up-bold-hexagon-outline"></i>
              Goto Config</md-button>
            </div>
            <div flex>
              <import-choose label="Import Config" ng-model="importConfig"></import-choose>
            </div>
          </div>
      </fieldset>

        <fieldset>
          <legend>Main Settings</legend>
          <div layout="row">
            <div flex>
              <md-input-container>
                <label>Favourite Sourceport</label>
                  <md-select ng-model="config.misc.preselectedengine" placeholder="Favourite Sourceport" >
                  <md-option ng-repeat="sourceport in sourceports" ng-show="config.active[sourceport.name]"value="{{sourceport.name}}">{{sourceport.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex>
              <md-input-container>
                <label>Select list for Startup</label>
                  <md-select ng-model="config.initList" placeholder="Select List" ng-disabled="modlist.length === 0">
                  <md-option value="false">Disable</md-option>
                  <md-option ng-repeat="list in modlist" value="{{list}}">{{list.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <dir-choose label="WAD Path:" ng-model="config.wadpath"></dir-choose>
          <dir-choose label="iWAD Path:" ng-model="config.iwadpath"></dir-choose>
          <dir-choose label="Modlist Path:" ng-model="config.modlistpath"></dir-choose>
          <dir-choose label="Screenshot Path:" ng-model="config.screenshotpath"></dir-choose>
        </fieldset>

        <fieldset ng-show="isMac">
          <legend>Fix Mac Mouse Acceleration</legend>
          <p>This Feature is in Alpha State, when you start a Sorceport, SSGL will change your global Mouse Acceleration Settings and will change it back when you Exit the Sourceport</p>
          <p>Current Mouse Accelleration Ratio: <strong>{{mouseRatio}}</strong></p>
          <md-checkbox ng-model="config.macaccelfix" aria-label="Mac Acceleration Fix">Enable Mouseacceleration Fix</md-checkbox>

        </fieldset>
        <fieldset>
          <legend>Oblige Settings</legend>
          <md-checkbox ng-model="config.active.oblige" aria-label="Oblige">Enable Oblige
          </md-checkbox>
          <file-choose label="Oblige Path:" ng-model="config.oblige.binary"></file-choose>
          <dir-choose label="Oblige MapConfig Path:" ng-model="config.oblige.configs"></dir-choose>
          <file-choose label="Oblige Random Map File:" ng-model="config.oblige.mappath"></file-choose>
        </fieldset>

      <div style="text-align:right">
        <md-button
        class="md-primary md-raised">
        Cancel
        </md-button>

        <md-button
        class="md-accent md-raised"
        ng-click="save()">
        Save
        </md-button>
        <br /><br /><br />
      </div>

    </div>
  </md-tab-body>
</md-tab>

  <md-tab label="Sourceports">
<md-tab-body>
  <!-- Controller -->
  <div ng-controller="settingsSourcePortController">
    <div layout="row" style="height: 100%;">
      <div flex="30">
        <div class="slimscroll">
        <md-list>

        <md-list-item class="md-2-line" ng-click="addSourcePort()">

          <div class="md-avatar">
            <div class="modtype">
              <i class="mdi mdi-plus"></i>
            </div>
          </div>

          <div class="md-list-item-text">
              <h3>Add</h3>
              <p>Add new Item</p>
          </div>
          </md-list-item>

          <md-list-item
            class="md-2-line"
            ng-repeat="sourceport in sourceports track by $index"
            ng-click="selectSourcePort(sourceport)">

          <div
            class="md-avatar"
            ng-click="delete($event, $index)"
          >
            <div class="modtype">
              <i class="mdi mdi-delete"></i>

            </div>
          </div>

          <div class="md-list-item-text">
              <h3>{{ sourceport.name }}</h3>
              <p>{{ sourceport.kind }}</p>
          </div>
          </md-list-item>

        </md-list>
        </div>
      </div>
      <div flex="70">
        <div class="slimscroll" style="padding:20px;">
        <ng-form>
          <fieldset>

            <md-input-container>
              <label>Source Port Name</label>
              <input type="text" ng-model="selected.name">
            </md-input-container>

            <file-choose label="Source Port Path" ng-model="selected.path"></file-choose>
            <dir-choose label="Source Port Savegame Directory:" ng-model="selected.saves"></dir-choose>

          </fieldset>

          <fieldset>

          <md-input-container>
            <label>Parameter iwad:</label>
            <input type="text" ng-model="selected.cliParams.iwad">
          </md-input-container>

          <md-input-container>
            <label>Parameter loadgame:</label>
            <input type="text" ng-model="selected.cliParams.loadgame">
          </md-input-container>

          <md-input-container>
            <label>Parameter file (wad):</label>
            <input type="text" ng-model="selected.cliParams.file">
          </md-input-container>

          <md-input-container>
            <label>Parameter deh:</label>
            <input type="text" ng-model="selected.cliParams.deh">
          </md-input-container>

          <md-input-container>
            <label>Parameter savedir:</label>
            <input type="text" ng-model="selected.cliParams.savedir">
          </md-input-container>

          </fieldset>

          <fieldset>
            <md-input-container>
            <label>Custom Parameters</label>
            <textarea ng-model="selected.cliParams.custom"></textarea>
          </md-input-container>
          </fieldset>

          <div style="text-align:right">
            <md-button
              class="md-primary md-raised">
              Cancel
            </md-button>

            <md-button
              class="md-accent md-raised"
              ng-click="save()">
              Save
            </md-button>

          </div>
          <br /><br />
        </ng-form>
        </div>
    </div>
    </div>
  </div>
  </md-tab-body>
  </md-tab>
</md-tabs>
